<% @foo = 6 %>
<% if @foo = 7 %>

<% else %>

<div class="row">
    <div class="col-md-12">
        <center>
            <% if browser.device.mobile? %>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Superhero Responsive -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-9933096370821149"
                         data-ad-slot="8020365924"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                
            <% else %>
            
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Superhero top -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-9933096370821149"
                         data-ad-slot="4185595520"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                
            <% end %>
            <br/>
        </center>
    </div>
</div>

<% end %>